/* Base styles from w3schools */

.calc-content {
    font-family: 'Roboto', sans-serif;
}

.calc-title {
    text-align: center;
    background-color:orange;
    color: darkblue;
    padding: 10px;
}

input {
    position: relative;
    float: left;
    margin: auto;
}

table, th, td, tfoot {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td, tfoot {
    padding: 15px;
  }

  th {
      background-color: orange;
      color: darkblue;
  }

  tfoot {
      background-color: orange;
  }

  .delete-button {
      background-color: orange;
  }